<html>
<head>
    <title id="top">Links Code</title>
</head>
<body>

</body>
</html>
<html>
<head>
    <title id="top">TextAnalyzer</title>
    <style type="text/css">
        .contain {
            text-align: center;
            margin-left: 25%;
            margin-right: 25%;
        }

        .contain h1 {
            border: 2px solid gold;
            padding: 5%;
        }

        body h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 style="color:#ff0000 ;text-align: center">TextUtils</h1>

<!-- edited for django -->
<h2>your text after applying effects</h2><br>
<div class="contain">

    <pre><h1>{{ after_remove_punctuation }}</h1></pre>
</div>
</body>
</html>